<!--


  <div *ngIf="url | async">
  <app-map></app-map>
</div>


<app-search-bar></app-search-bar>
-->

<div *ngIf="apiLoaded | async">
  <google-map width="750px"
            height="450px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
            <map-marker *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              [options]="markerOptions"></map-marker>
          
</google-map>

<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>
</div>