<main>
  <section class="hero">
    <div class="container">
      <div class="hero-inner">
        <div class="hero-copy">
          <h2 class="hero-title">Tu acceso al mundo</h2>
          <p class="hero-paragraph">Con nuestra plataforma, podrás conocer la accesibilidad de distintos lugares y disfrutar de una experiencia inclusiva.</p>
          <div class="button-row">
            <button mat-raised-button color="primary" routerLink="/auth/register">¡Regístrate aquí!</button>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-figure">
    </div>
  </section>

  
  <!-- <section class="features">
    <div class="container">
      <div class="features-wrap">
        
        <mat-card class="card">
          <div class="feature-icon">
            <img mat-card-image src="../../../../assets/images/accesibilidad-Google.webp" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-header>
            <mat-card-title>Encuentra lugares</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Descubre lugares accesibles cerca de ti</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card">
          <div class="feature-icon">
            <img mat-card-image src="../../../../assets/images/estacionamiento.webp" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-header>
            <mat-card-title>Encuentra lugares</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Descubre lugares accesibles cerca de ti</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card">
          <div class="feature-icon">
            <img mat-card-image src="../../../../assets/images/accesibilidad-Google.webp" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-header>
            <mat-card-title>Encuentra lugares</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Descubre lugares accesibles cerca de ti</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card">
          <div class="feature-icon">
            <img mat-card-image src="../../../../assets/images/accesibilidad-Google.webp" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-header>
            <mat-card-title>Encuentra lugares</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Descubre lugares accesibles cerca de ti</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card">
          <div class="feature-icon">
            <img mat-card-image src="../../../../assets/images/accesibilidad-Google.webp" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-header>
            <mat-card-title>Encuentra lugares</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Descubre lugares accesibles cerca de ti</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card">
          <div class="feature-icon">
            <img mat-card-image src="../../../../assets/images/accesibilidad-Google.webp" alt="Photo of a Shiba Inu">
          </div>
          <mat-card-header>
            <mat-card-title>Encuentra lugares</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Descubre lugares accesibles cerca de ti</p>
          </mat-card-content>
        </mat-card>
        
      </div>
    </div>
  </section> -->

</main>