
<!--https://lh5.googleusercontent.com/p/AF1QipMqsQJJXhqZL4m0RPUIguyyae74Z2dtYz7SxxfZ=w203-h113-k-no
 <h2>{{place.name}}</h2>-->
<div >
    <section>
        <h1>{{place.name}}</h1>
    
        <img class= "w-full" [src]="cosa" alt="">
        aqui va la valoración
        <div>
            <p>{{place.formatAddress}}</p>
            <p>Teléfono: {{place.formattedPhoneNumber}}</p>

            <div>
                <h3>Horario de apertura: </h3>
                <ul>
                    <li>{{place.weekday[1]}}</li>
                    <li>{{place.weekday[2]}}</li>
                    <li>{{place.weekday[3]}}</li>
                    <li>{{place.weekday[4]}}</li>
                    <li>{{place.weekday[5]}}</li>
                    <li>{{place.weekday[6]}}</li>
                    <li>{{place.weekday[7]}}</li>
                </ul>
            </div>

            <p>Accesibilidad con silla de ruedas: {{getWheelchairAccesibleEntrance()}}</p>
        </div>
    </section>


<h4>Comentarios</h4>
<p *ngIf="haveComments">{{ cosa}}</p>

</div>
