@import "@angular/material/theming";

// Copy colour palettes individually
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink);

// Create variables to use in project
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);

::ng-deep app-register {
  background-image: url('../../../../../assets/images/bg-register.jpg');
}
.login-container {
  margin-top: 50px;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
}

form {
  width: 100%;
}

.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}
.mat-mdc-card {
  opacity: 0.9;
}
.login-toolbar {
  justify-content: center;
}
::ng-deep {
  .mdc-text-field--filled {
    background-color: transparent !important;
  }
  .mat-mdc-form-field-focus-overlay {
    background-color: $primary;
  }
}

.mat-mdc-form-field {
  width: 100%;
  display: block;
  padding-bottom: 1rem;
}

mat-toolbar {
  margin-bottom: 1rem;
}

.mat-mdc-raised-button {
  width: 100%;
  height: 60px;
  margin: 1rem;
}
.socialMediaFlex {
  display: flex;
  justify-content: space-around;
}
