<div class="flex items-center justify-center h-screen">
  <div class="max-w-3xl w-full">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-white shadow-md rounded px-8 py-6 mb-4 sm:mb-0">
        <h2 class="text-lg font-semibold mb-4">User Information</h2>
        <!-- <p><strong>Nombre:</strong> {{ user | json }}</p> -->
        <!-- <p><strong>Apellidos:</strong> {{ user.user.lastname }}</p> -->
        <p><strong>Email:</strong> {{ user.email }}</p>

      </div>

      <div class="bg-white shadow-md rounded px-8 py-6">
        <h2 class="text-lg font-semibold mb-4">Edit User</h2>
        <form (ngSubmit)="saveChanges()" [formGroup]="userForm">
          <mat-form-field class="w-full mb-4">
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" placeholder="Name">
          </mat-form-field>

          <mat-form-field class="w-full mb-4">
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>

          <mat-form-field class="w-full mb-4">
            <mat-label>Password:</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Password">
          </mat-form-field>

          <mat-form-field class="w-full mb-4">
            <mat-label>Confirm Password:</mat-label>
            <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password">
          </mat-form-field>

          <button mat-raised-button color="primary" class="bg-blue-500 text-white px-4 py-2 rounded" type="submit">Save
            Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div>{{ user$ | async | json }}</div>
