<section class="h-[calc(100vh_-_64px)] w-full items-center flex flex-wrap justify-center">
  <div class="w-4/5 max-w-[350px] block m-auto">


    <mat-card>
      <mat-toolbar class="justify-center mb-4" color="primary">INICIAR SESIÔN</mat-toolbar>
      <mat-card-content>
      <form class="login-form w-full" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>mail</mat-icon>
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput placeholder="email@example.com" />
        </mat-form-field>
        <div class="text-red-400 mt-[-0.3rem] mb-[0.3rem] pl-2" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          <span> {{ getErrorMessage("email") }} </span>
        </div>

        <mat-form-field appearance="outline">
          <mat-icon matPrefix>lock</mat-icon>
          <mat-icon matSuffix (click)="hide = !hide">
            {{ hide ? "visibility_off" : "visibility" }}
          </mat-icon>
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password" />
        </mat-form-field>
        <div class="text-red-400 mt-[-0.3rem] mb-[0.3rem] pl-2" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <span> {{ getErrorMessage("password") }} </span>
        </div>

        <div class="flex justify-around">
          <button mat-flat-button (click)="redirectSignUp()">Crear cuenta</button>
          <button type="submit" mat-flat-button color="primary" [disabled]="loginForm.get('email')?.invalid">
            Ingresar
          </button>
        </div>
      </form>
    </mat-card-content>
    </mat-card>
  </div>

</section>