.mat-mdc-form-field {
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  .mat-mdc-form-field {
    font-size: 0.9rem;
  }
  mat-toolbar {
    font-size: medium;
  }
  mat-label {
    font-size: 0.9rem;
  }
  mat-error {
    font-size: 0.8rem;
  }
}
