@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@angular/material/theming";
@include mat-core();

$light-app-theme: mat-light-theme(
  (
    color: (
      primary: mat-palette($mat-indigo),
      accent: mat-palette($mat-pink, A200, A100, A400),
      warn: mat-palette($mat-red),
    ),
  )
);

$dark-app-theme: mat-dark-theme(
  (
    color: (
      primary: mat-palette($mat-cyan),
      accent: mat-palette($mat-blue-gray, A200, A100, A400),
      warn: mat-palette($mat-amber),
    ),
  )
);

@mixin body-theme($theme) {
  $_background: map-get($theme, background);
  $app-background-color: mat-color($_background, background);

  body {
    background-color: $app-background-color;
  }
}

@include angular-material-theme($light-app-theme);
@include body-theme($light-app-theme);

.dark-theme {
  @include angular-material-color($dark-app-theme);
  @include body-theme($dark-app-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
