<p>search-bar works!</p>

<div class="container">
    
    <div class="search-bar">
        <!--Creamos un input con su respectivo type, class, placeholder (para ayudar a la UX) y el evento (keyup)
            este evento que se dispara cada vez que presionemos alguna tecla mientras tengamos seleccionado el input 
            usaremos nuestra variable searchTerm$ y su respectivo método .next que disparara un evento y como lo declaramos 
            inicialmente como de tipo Subject <String> esta esperando un string como parámetro, a esto le vamos a pasar la 
            variable que se genera al realizar alguna acción dentro del input ($event) y enviamos el valor que esta dentro 
            de su target (input) quedando algo como: $event.target.value. (keyup)="searchTerm$.next($event.target.value)"-->
        <input id="ciudad" type="text" class="search"placeholder="Busca una provincia"(keyup)="actualizarProv($event)">
      </div>
    <ul class="list">
      <li *ngFor="let item of listFiltered$ | async">
        {{item}}
      </li>
    </ul>
  </div>

  
